<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeviceMapper">

	<!-- 列表(全部) -->
	<select id="listPageAllDevice" parameterType="page" resultType="pd">
		SELECT
		  id,
		  name,
		  mine,
		  type,
		  num,
		  cardtype,
		  status,
		  inexpress,
		  outexpress,
		  repairdate,
		  updatedate,
		  description,
		  operator
		FROM device
	</select>

	<!-- 列表(根据KEY) -->
	<select id="listPageDeviceByKey" parameterType="page" resultType="pd">
		SELECT
		  id,
		  name,
		  mine,
		  type,
		  num,
		  cardtype,
		  status,
		  inexpress,
		  outexpress,
		  repairdate,
		  updatedate,
		  description,
		  operator
		  FROM device
		  WHERE name LIKE CONCAT('%',#{pd.keyword},'%')
		  or mine LIKE CONCAT('%',#{pd.keyword},'%')
		  or type LIKE CONCAT('%',#{pd.keyword},'%')
		  or cardtype LIKE CONCAT('%',#{pd.keyword},'%')
		  or status LIKE CONCAT('%',#{pd.keyword},'%')
		  or operator LIKE CONCAT('%',#{pd.keyword},'%')
		  or description LIKE CONCAT('%',#{pd.keyword},'%')
	</select>

	<!-- find by id -->
	<select id="findDeviceById" parameterType="String" resultType="pd">
		SELECT
		  id,
		  name,
		  mine,
		  type,
		  num,
		  cardtype,
		  status,
		  inexpress,
		  outexpress,
		  repairdate,
		  updatedate,
		  description,
		  operator
		FROM device WHERE
		id=#{id}
	</select>

	<select id="findMaxDeviceId" parameterType="pd" resultType="pd">
		select MAX(id) mid FROM device
	</select>


	<delete id="deleteAllDevice" parameterType="String">
		delete from device
		where
		id in
		<foreach item="item" index="index" collection="array" open="("
				 separator="," close=")">
			#{item}
		</foreach>

	</delete>


	<delete id="deleteDevice" parameterType="String">
		delete from device
		where
		id = #{id}
	</delete>


	<update id="updateDevice" parameterType="pd">
		UPDATE
		device
		SET
		name=#{name},
		mine=#{mine},
		type=#{type},
		num=#{num},
		cardtype=#{cardtype},
		status=#{status},
		inexpress=#{inexpress},
		outexpress=#{outexpress},
		repairdate=#{repairdate},
		updatedate=#{updatedate},
		description=#{description},
		operator=#{operator}
		WHERE id=#{id}
	</update>


	<!-- 新表 -->
	<insert id="saveDevice" parameterType="pd">
		INSERT INTO device (
		  name,
		  mine,
		  type,
		  num,
		  cardtype,
		  status,
		  inexpress,
		  outexpress,
		  repairdate,
		  updatedate,
		  description,
		  operator
		)
		VALUES
		(
		name=#{name},
		mine=#{mine},
		type=#{type},
		num=#{num},
		cardtype=#{cardtype},
		status=#{status},
		inexpress=#{inexpress},
		outexpress=#{outexpress},
		repairdate=#{repairdate},
		updatedate=#{updatedate},
		description=#{description},
		operator=#{operator}
		)

	</insert>


</mapper>